# LOCAL DEVELOPMENT FILES AND FOLDERS
build_and_run.sh
collect_files.py
list_files.py
prompts.txt
output.txt
issue_verification_tests/
testing_files/
design_docs/
latex/
build/
build_cov/
fixes.yaml
.codex
entities.json
mempalace.yaml

# JetBrains IDEs
.idea/

venv
.venv

cmake-build-*/
node_modules/

.cache

CMakeUserPresets.json

.python-version
pyproject.toml
uv.lock

__pycache__
